<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/style.css">

    <title>Capstone Project</title>
</head>

<body>
    <main>

        <nav>
            <ul>
                <li id="home"><a href="/">Home</a></li>
                <li id="create"><a href="/create">Create</a></li>
            </ul>
        </nav>