<%- include("partials/header.ejs") %>

  <div>
    <form method="POST">
      <label for="post">Create Post</label>
      <input type="text" name="post">

      <input type="button" value="Create">
    </form>
  </div>


  <%- include("partials/footer.ejs") %>