@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

html,
body {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-container {
    text-align: center;
}

p {
    color: #000;
    font-size: 24px;
    letter-spacing: 0.2px;
    margin: 0;
}

#cb-replay {
    fill: #666;
    width: 20px;
    margin: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    cursor: pointer;
}

#cb-replay:hover {
    fill: #888;
}

.home {
    text-align: center;
    margin-top: 2rem;
}

.home a {
    text-decoration: none;
}
.home a:hover {
    text-decoration: underline;
}

.error {
    text-align: center;
}

.error-img {
    max-width: 75%;
}