<link rel="stylesheet" href="styles/404.css">

<div class="container">
    <div class="home">
        <a href="/">Return to Home Page</a></li>
    </div>

    <div class="error">
        <img class="error-img" src="https://cdn2.vectorstock.com/i/1000x1000/37/31/404-error-page-not-found-hand-hold-plug-graphic-vector-26853731.jpg" alt="">
    </div>
</div>

</div>
