body {
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
        sans-serif;
    color: hotpink;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

input {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    font-size: 0.9rem;
    background: #888;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 4rem 2rem;
    border-radius: 10px;
    gap: 10px;
}

label {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

input[type="text"] {
    width: 350px;
    margin-bottom: 1rem;
    cursor: text;
}

input[type="button"] {
    width: 150px;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

nav {
    position: absolute;
    top: 0;
    right: 5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}
